body {
    background-image: url("https://images.unsplash.com/photo-1614850523459-c2f4c699c52e?ixlib=rb-4.0.3");
    background-size: 1500px;
  }
  
  .nota {
   background-color: #837ADA;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #18d14c;
    border-radius: 5px;
    color: #ddd;

  }
  
  h1 {
    text-align: center;
    color: #ddd;
    font-style: italic;
    font-size: 40px;
  }
  
  p {
    text-align: center;
    color: #ddd;
    font-style: italic;
  }
  

  .nota button {
    background-color: #66c180;
    color: #fff;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    float:right;
  }
  

  .boton-añadir
  {   background-color: #18d14c;
    padding: 10px 600px;
    font-size: 15px;
    font-style: italic;
  }